<h1 class="my-3">Cars</h1>
<hr/>
<button mat-flat-button color="primary" [routerLink]="['add']"> Create a new Car</button>
<hr/>
<table class="table table-striped">
  <thead class="">
    <tr>
      <th>PlateNumber</th>
      <th>Model</th>
      <th>ModelDate</th>
      <th>Driver Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PlateNumber</td>
      <td>Model</td>
      <td>ModelDate</td>
      <td>Driver</td>
      <td>Actions</td>
    </tr>
  </tbody>
</table>
