<h1 class="my-3">Cars</h1>
<hr/>
<button mat-flat-button color="primary" [routerLink]="['add']"> Create a new Car</button>
<hr/>
<table class="table table-striped">
  <thead class="">
    <tr>
      <th>PlateNumber</th>
      <th>Model</th>
      <th>ModelDate</th>
      <th>Driver Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.plateNumber}}</td>
      <td>{{car.model}}</td>
      <td>{{car.modelDate}}</td>
      <td>{{car.modelDate}}</td>
      <td>{{car.driverFullName}}</td>
    </tr>
  </tbody>
</table>
